ENV_NAME=prod
DEBUG=0
SECRET_KEY=change-me
ALLOWED_HOSTS=kzarena.com,www.kzarena.com
CSRF_TRUSTED_ORIGINS=https://kzarena.com,https://www.kzarena.com
PRIMARY_DOMAIN=kzarena.com
USE_HTTPS=1
SECURE_SSL_REDIRECT=1
SERVE_MEDIA=1
LOG_LEVEL=INFO

DB_ENGINE=postgres
DB_NAME=kz_arena
DB_USER=kz_arena
DB_PASSWORD=change-me
DB_HOST=127.0.0.1
DB_PORT=5432
