[tool.black]
line-length = 100
target-version = ["py39"]
exclude = '''
/(
    \.git
  | \.venv
  | venv
  | migrations
  | staticfiles
)/
'''

[tool.isort]
profile = "black"
line_length = 100
skip = ["venv", ".venv", "staticfiles"]
