{% extends "accounts/auth_layout.html" %}

{% block auth_title %}Сброс пароля{% endblock %}
{% block auth_subtitle %}<p>Почтовый backend пока не подключен.</p>{% endblock %}
{% block auth_content %}
<div class="auth-info">
  <p>Для восстановления пароля нужно настроить SMTP в Django settings.</p>
  <p>После подключения можно использовать стандартные Django views для отправки ссылки на email.</p>
</div>
<div class="form-actions">
  <a href="{% url 'accounts:login' %}" class="button">Перейти ко входу</a>
</div>
{% endblock %}
